.table {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

thead {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

thead {
  display: flex;
  flex-direction: row;
}

tr {
  width: 100%;
}

.raid-id {
  width: 35vw;
}

.raid-lvl {
  width: 20vw;
}

.raid-status {
  width: 20vw;
}

.raid-date {
  width: 25vw;
}
